@model RoomReservation.Models.EditReservationViewModel

<h2>Detale rezerwacji</h2>

@using (Html.BeginForm("SaveReservationDetails", "Reservation", FormMethod.Post))
{
    @Html.HiddenFor(x => x.Id)
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                @Html.LabelFor(x => x.RRRoomId)
                <div class=" input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-list" aria-hidden="true"></span></div>
                    @Html.DropDownListFor(x => x.RRRoomId, Model.ListaPomieszczen, "Wybierz pomieszczenie", new { @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(x => x.RRRoomId)
            </div>
        </div>
    </div>

    <div>
        <div class="form-group ">
            @Html.LabelFor(x => x.Date)
            <div class='input-group date'>
                @Html.TextBoxFor(x => x.Date, "{0:yyyy-MM-dd}", new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.Date) })
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            @Html.ValidationMessageFor(x => x.Date)
        </div>
    </div>
    <button class="btn btn-default">Zapisz</button>
    @Html.ActionLink("Anuluj", "ReservationList", "Reservation", null, new { @class = "btn btn-default" })
}